@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

header img {
    height: 100px;
}

.top-bar {
    background-color: #1389ca;
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 50px;
    justify-content: center;
}

header nav ul li {
    color: white;
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    margin-top: 10px;
}

.title-bar {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    gap: 300px;
}

.ribbon-square {
    content: url("assets/ribbon.png");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 160px;

}

.top-items {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
    align-self: center;
}

.top-items img {
    padding-top: 20px;
    max-height: 80px;
}

main {
    position: relative;
}

.main-image img {
    width: 100%;
}

.form-container {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 400px;
    padding: 24px;
    background-image: url(assets/form.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

.guests {
    display: flex;
    justify-content: space-between;
}

.guests label {
    margin: 0;
}

.guests p {
    margin: 0;
}

form h3 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}

form p {
    font-size: 16px;
}

form label {
    font-weight: bold;
}

.b {
    font-weight: bold;
}

.mb0 {
    margin-bottom: 0 !important;
}

.childs {
    display: flex;
    gap: 62px;
}

.ages {
    display: grid;
    grid-template-columns: 70px 70px 200px;
    grid-gap: 5px;
    margin-bottom: 30px;
}

.children-one-two {
    display: flex;
}

.mt0 {
    margin-top: 0;
}

.little-text {
    margin: 0;
    font-size: small;
}

form select {
    margin-bottom: 14px;
    height: 40px;
}

form button {
    height: 40px;
    width: 200px;
}

.arrivedate {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.departdate {
    display: flex;
    flex-direction: column;
    width: 100%;
}

select {
    width: 100%;
}

.dates {
    display: flex;
    gap: 3px;
    justify-content: space-between;
}

.dates input {
    width: 100%;
    height: 40px;
}

.page-content {
    margin: 0 auto;
    background-color: #fff;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-info h2 {
    margin-top: 0;
    color: #0082ca;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}

.article-info p {
    color: #616363;
}

.tag {
    padding: 1px 10px;
    margin-right: 10px;
    background-color: white;
    color: #44c8f5;
    border: #44c8f5 solid 2px;
    border-color: #44c8f5;
    font-weight: bold;
}

.button-detail {
    margin-top: 10px;
    color: #00466e;
    font-size: 20px;
    font-weight: bold;
    background-color: #fed401;
    border: none;
    padding: 25px;
    cursor: pointer;
}

button, a{
    cursor: pointer;
}

.button-vacations {
    background-color: #0082ca;
    color: white;
    font-style: italic;
    font-weight: bold;
    padding: 15px 50px;
    border: none;
    font-size: 20px;
}

.button-hotels {
    background-color: #cce6f4;
    color: #0082ca;
    font-style: italic;
    font-weight: bold;
    padding: 15px 50px;
    border: none;
    font-size: 20px;
}

.sortby {
    font-size: 20px;
    font-weight: bold;
    color: #0e4564;
}

.view-hotels  button{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #00456e;
    border: none;
    padding: 15px 75px;
}

.section-details a {
    width: 100%;
}

.section-details a img {
    width: 100%;
}

.search-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 15px 0;
}

.buttons-bar {
    display: flex;
}

.search-bar {
    display: flex;
    width: 50%;
}

.search-bar label {
    width: 25%;
}

hr {
    color: #44c8f5;
    border: none;
    background-color: #44c8f5;
    width: 100%;
    height: 3px;
}

.article-content {
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.articles {
    width: 100%;
}

article {
    padding: 50px 0;
    width: 100%;
    display: flex;
}

article img {
    content: url("assets/postimage.png");
}

.pl {
    padding-left: 30px;
}

.pr {
    padding-right: 30px;
}

.view-hotels {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.ad {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-hotels {
    margin-top: 100px;
    display: flex;
    margin-bottom: 50px;
}

footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    gap: 30px;
}

.footer-nav a {
    text-decoration: none;
    color: black;
}

footer img {
    margin-bottom: 70px;
}

.footer-section img {
    width: 100%;
}